<main>
  <h1>My Favorite Vehicles</h1>

  <% if (!favorites || favorites.length === 0) { %>
    <p>You have no favorite vehicles.</p>
  <% } else { %>
    <ul>
      <% favorites.forEach(vehicle => { %>
        <% if (vehicle) { %>
          <li>
            <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
            <p><%= vehicle.inv_description %></p>
            <% if (vehicle.inv_image) { %>
              <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>" style="max-width:300px;">
            <% } else { %>
              <p><em>No image available</em></p>
            <% } %>
          </li>
        <% } %>
      <% }) %>
    </ul>
  <% } %>
</main>
<%- include('../partials/footer') %>
