<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <!-- Inject the formatted vehicle HTML -->
  <div class="vehicle-detail-wrapper">
    <%- detail %>
  </div>
</main>

<%- include('../partials/footer') %>
