<%- include('../partials/header', { title }) %>

<main>
  <h1><%= title %></h1>

  <% if (errors && errors.length > 0) { %>
    <div class="form-errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <form action="/inv/add-classification" method="post">
    <label for="classification_name">Classification Name</label>
    <input type="text" id="classification_name" name="classification_name" value="<%= classification_name %>" required>

    <button type="submit">Add Classification</button>
  </form>
</main>

<%- include('../partials/footer') %>
